# Some editors' temp files
.*.swp
*~
# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.gz
*.bcf
*.out
*.run.xml
*(busy)
# Random junk
*.lnk
# Output pdf, but not images
*.pdf
!img/*.pdf
